[submodule "milestone-1/day-4/portfolio-website"]
	path = milestone-1/day-4/portfolio-website
	url = https://github.com/azharanowar/portfolio-website.git
[submodule "milestone-3/day-17/convention-center"]
	path = milestone-3/day-17/convention-center
	url = https://github.com/azharanowar/convention-center.git
[submodule "milestone-1/day-5/eat-health"]
	path = milestone-1/day-5/eat-health
	url = https://github.com/azharanowar/eat-health.git
[submodule "milestone-1/day-6/donate-today"]
	path = milestone-1/day-6/donate-today
	url = https://github.com/azharanowar/donate-today.git
[submodule "milestone-2/day-9/cricket-animation"]
	path = milestone-2/day-9/cricket-animation
	url = https://github.com/azharanowar/cricket-animation.git
[submodule "milestone-2/day-11/leader-board-responsive-website"]
	path = milestone-2/day-11/leader-board-responsive-website
	url = https://github.com/azharanowar/leader-board-responsive-website.git
[submodule "milestone-2/day-12/influencer-gear-responsive-landing-page"]
	path = milestone-2/day-12/influencer-gear-responsive-landing-page
	url = https://github.com/azharanowar/influencer-gear-responsive-landing-page.git
[submodule "milestone-2/day-13/qatar-world-cup"]
	path = milestone-2/day-13/qatar-world-cup
	url = https://github.com/azharanowar/qatar-world-cup.git
[submodule "milestone-3/day-18/panda-ecommerce"]
	path = milestone-3/day-18/panda-ecommerce
	url = https://github.com/azharanowar/panda-ecommerce.git
[submodule "milestone-3/day-21/edtech"]
	path = milestone-3/day-21/edtech
	url = https://github.com/azharanowar/edtech.git
[submodule "milestone-3/day-19/penguin-fashion-tailwind"]
	path = milestone-3/day-19/penguin-fashion-tailwind
	url = https://github.com/azharanowar/penguin-fashion-tailwind.git
