[submodule "milestone-1/day-4/portfolio-website"]
	path = milestone-1/day-4/portfolio-website
	url = https://github.com/azharanowar/portfolio-website.git
[submodule "milestone-3/day-17/convention-center"]
	path = milestone-3/day-17/convention-center
	url = https://github.com/azharanowar/convention-center.git
[submodule "milestone-1/day-5/eat-health"]
	path = milestone-1/day-5/eat-health
	url = https://github.com/azharanowar/eat-health.git
[submodule "milestone-1/day-6/donate-today"]
	path = milestone-1/day-6/donate-today
	url = https://github.com/azharanowar/donate-today.git
[submodule "milestone-2/day-9/cricket-animation"]
	path = milestone-2/day-9/cricket-animation
	url = https://github.com/azharanowar/cricket-animation.git
[submodule "milestone-2/day-11/leader-board-responsive-website"]
	path = milestone-2/day-11/leader-board-responsive-website
	url = https://github.com/azharanowar/leader-board-responsive-website.git
