#userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#userForm input  {
    margin: 10px 0;
    padding: 12px 15px;
    border-radius: 50px;
    border: 2px solid gray;
}

#userForm h2  {
    text-align: center;
    font-size: 22px;
}

#userForm input[type="submit"]  {
    background-color: tomato;
    color: white;
    border: 2px solid tomato;
}


.main-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.main-menu ul{
    list-style: none;
    display: flex;
}

.main-menu ul li {
    margin-left: 20px;
}

.main-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px
}