p {
    display: inline;
}

a {
    display: block;
}

a:visited {
    color: red;
}

ul::before{
    content: "Hello Before...";
}
ul::after{
    content: "Hello After...";
}


ul:first-child {
    color: blue;
}