.box {
    height: 100px;
    width: 100px;
    background-color: tomato;
    margin: 10px;
} */

.box-2 {
    visibility: hidden;
}

.box-2 {
    display: none
}



.overflow {
    height: 200px;
    width: 400px;
    border: 1px solid red;;
    overflow-x: hidden;
}



.small-box {
    width: 220px;
    border: 1px solid tomato;
    overflow: hidden;
}

.pera {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.container {
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: 50px;
}

.inner {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    /* transform: rotate(180deg); */
    /* transform: scale(1.4); */
    /* transform: skew(3deg);  */
    /* transform: translate(100px); */
}




.big-box {
    width: 300px;
    height: 100px;
    background-color: blue;
    transition: width 3s ease-in, height 3s ease-in 1s, background-color 3s;
}
.big-box:hover {
    width: 800px;
    height: 500px;
    background-color: tomato;
}




.tiny-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: coral;
    margin: 20px;
    transition: transform 500ms ease-in; 
}

.tiny-box:hover {
    transform: rotate(145deg) scale(1.5);
}





.main-box {
    width: 800px;
    height: 400px;
    background-color: burlywood;
}

.big-ball {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: tomato;
    position: relative;
    animation: ball_animation 2s infinite ease-in;
}

.big-ball:hover {
    animation: ball_animation 4s infinite ease-in-out;
}


@keyframes ball_animation{
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: calc( 100% - 100px );
        left: calc( 25% - 100px );
    }

    50% {
        top: 0;
        left: calc( 50% - 100px );
    }
    75% {
        top: calc( 100% - 100px );
        left: calc( 75% - 100px );
    }
    100% {
        top: 0;
        left: calc( 100% - 100px );
    }

}